.container {
  > .header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    &.lt-md-fix {
      ::ng-deep {
        mat-form-field {
          padding-top: 0px !important;
          padding-bottom: 0px !important;
        }
      }
    }
  }

  > .footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  > .content {
    position: relative;
    display: flex;
    overflow-x: scroll;
    ::ng-deep {
      mat-table,
      .mat-table {
        min-width: 100%;
      }
    }
  }
}
