<mat-card
  class="
    app-background-color-primary-500
    app-border-radius-8-important
    app-elevation-z16-0
    app-padding-0-important
    app-margin-left--24-important
    app-margin-right--24-important
    app-padding-bottom-8-important app-padding-top-16-important
  "
>
  <mat-card-title style="padding: 8px 24px; text-align: center">
    <span class="mat-h2">
      {{
        data?.sheet
          ? "Update Questions and Answers Title"
          : "New Questions and Answers Title"
      }}
    </span>
  </mat-card-title>
  <mat-card-content style="padding-top: 8px">
    <div class="content">
      <form
        [formGroup]="form"
        (ngSubmit)="form?.valid && done()"
        style="margin-top: 16px"
      >
        <!-- title -->
        <mat-form-field appearance="standard" color="accent">
          <input
            type="text"
            placeholder="Title"
            matInput
            formControlName="title"
          />

          <mat-error
            *ngIf="
              form.title.hasError('required') || form.title.hasError('notEmpty')
            "
          >
            Title is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </form>

      <div
        style="margin-top: 40px"
        fxLayout="row nowrap"
        fxLayout.lt-sm="column-reverse"
        fxLayoutAlign="space-between"
        fxLayoutGap="24px"
      >
        <button
          mat-stroked-button
          color="accent"
          style="padding: 4px 24px; border-radius: 50px"
          (click)="dialogRef?.close()"
          fxFlex="100%"
        >
          <span class="mat-h3"> cancel</span>
        </button>
        <button
          mat-flat-button
          color="accent"
          style="padding: 4px 24px; border-radius: 50px"
          fxFlex="100%"
          (click)="$event.stopImmediatePropagation(); form?.valid && done()"
        >
          <span class="mat-h3"> {{ data?.sheet ? "Update" : "Create" }} </span>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
