mat-card {
  .content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    mat-icon {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
    }
  }
  mat-card-footer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    button {
      flex-grow: 1;
    }
  }
}
