<button
  mat-flat-button
  color="accent"
  [style.background-color]="'#06132F'"
  class="
    app-padding-left-56-important
    app-padding-right-56-important
    app-padding-top-8-important
    app-padding-bottom-8-important
    app-border-radius-8-important
    app-contrast-border-color-primary-500-40-important
  "
  [type]="type"
  style.flex="1"
>
  <span class="app-font-size-16">
    <mat-icon
      fontIcon="app-search"
      class="app-margin-right-20-important"
    ></mat-icon>
    Search</span
  >
</button>
